# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env

# Model weights
*.pt
*.onnx
*.engine
!yolov8s.pt

# Outputs & temporary artifacts
output_*/
outputs/
*.mp4
*.avi
*.mkv
*.jpg
*.png
*.csv
!images/*

# IDE & OS
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
*.swp
*.swo
